extends layout

block content
  .jumbotron
      .container
        h1 How May I Help You?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
         Integer odio ligula, auctor fermentum libero sit amet, accumsan porttitor urna. 
         Ut tincidunt dolor in sagittis ultrices. Maecenas volutpat dolor eu nulla convallis faucibus. 
         Mauris rutrum, ipsum at iaculis faucibus, mauris justo placerat tortor, at varius justo dui ac augue. 
         Maecenas non dui id magna mattis dictum. Aliquam vitae dapibus libero. Integer vestibulum felis sed sapien ullamcorper iaculis. 
         Praesent elit enim, semper convallis massa ac, hendrerit facilisis massa. 
         Donec arcu tortor, malesuada at massa sed, dapibus laoreet elit. Vestibulum tempus urna ut metus iaculis rutrum. 
         Nulla facilisi. Morbi purus tellus, fermentum eu iaculis ac, tempus egestas tellus.

        a.btn.btn-primary.btn-lg(href = '#') Learn more &raquo;

    .container
      .row
        .col-md-4
          h2 About Us
          p Pellentesque laoreet in urna at bibendum. 
           Duis sodales justo aliquet faucibus aliquam. 
           Quisque sollicitudin ut purus quis finibus. Fusce eget dui id massa congue sagittis. 
           Aenean ullamcorper dui tellus, congue iaculis erat scelerisque vel. 
          a.btn.btn-default(href = '#') View Details
        .col-md-4
          h2 Services
          p Pellentesque laoreet in urna at bibendum. 
           Duis sodales justo aliquet faucibus aliquam. 
           Quisque sollicitudin ut purus quis finibus. Fusce eget dui id massa congue sagittis. 
           Aenean ullamcorper dui tellus, congue iaculis erat scelerisque vel. 
          a.btn.btn-default(href = '#') View Details
        .col-md-4
          h2 Get In touch
          p Pellentesque laoreet in urna at bibendum. 
           Duis sodales justo aliquet faucibus aliquam. 
           Quisque sollicitudin ut purus quis finibus. Fusce eget dui id massa congue sagittis. 
           Aenean ullamcorper dui tellus, congue iaculis erat scelerisque vel. 
          a.btn.btn-default(href = '#') View Details

